<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ssm.pojo.User">
        <id column="us_id" jdbcType="BIGINT" property="usId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
        <result column="per_tit" jdbcType="VARCHAR" property="perTit" />
        <result column="per_sign" jdbcType="VARCHAR" property="perSign" />
        <result column="birth" jdbcType="DATE" property="birth" />
        <result column="coun_id" jdbcType="VARCHAR" property="counId" />
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
        <result column="u_time" jdbcType="TIMESTAMP" property="uTime" />
        <result column="stat" jdbcType="TINYINT" property="stat" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="pwd2" jdbcType="VARCHAR" property="pwd2" />
    </resultMap>
    <sql id="Base_Column_List">
    us_id, name, email, phone, pwd, per_tit, per_sign, birth, coun_id, c_time, u_time,
    stat, sex, salt, pwd2
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from m_user
        where us_id = #{usId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from m_user
    where us_id = #{usId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ssm.pojo.User">
    insert into m_user (us_id, name, email,
      phone, pwd, per_tit,
      per_sign, birth, coun_id,
      c_time, u_time, stat,
      sex, salt, pwd2)
    values (#{usId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{perTit,jdbcType=VARCHAR},
      #{perSign,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, #{counId,jdbcType=VARCHAR},
      #{cTime,jdbcType=TIMESTAMP}, #{uTime,jdbcType=TIMESTAMP}, #{stat,jdbcType=TINYINT},
      #{sex,jdbcType=CHAR}, #{salt,jdbcType=VARCHAR}, #{pwd2,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ssm.pojo.User">
        insert into m_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="usId != null">
                us_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="perTit != null">
                per_tit,
            </if>
            <if test="perSign != null">
                per_sign,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="counId != null">
                coun_id,
            </if>
            <if test="cTime != null">
                c_time,
            </if>
            <if test="uTime != null">
                u_time,
            </if>
            <if test="stat != null">
                stat,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="pwd2 != null">
                pwd2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="usId != null">
                #{usId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="perTit != null">
                #{perTit,jdbcType=VARCHAR},
            </if>
            <if test="perSign != null">
                #{perSign,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                #{birth,jdbcType=DATE},
            </if>
            <if test="counId != null">
                #{counId,jdbcType=VARCHAR},
            </if>
            <if test="cTime != null">
                #{cTime,jdbcType=TIMESTAMP},
            </if>
            <if test="uTime != null">
                #{uTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stat != null">
                #{stat,jdbcType=TINYINT},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="pwd2 != null">
                #{pwd2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.User">
        update m_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="perTit != null">
                per_tit = #{perTit,jdbcType=VARCHAR},
            </if>
            <if test="perSign != null">
                per_sign = #{perSign,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                birth = #{birth,jdbcType=DATE},
            </if>
            <if test="counId != null">
                coun_id = #{counId,jdbcType=VARCHAR},
            </if>
            <if test="cTime != null">
                c_time = #{cTime,jdbcType=TIMESTAMP},
            </if>
            <if test="uTime != null">
                u_time = #{uTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stat != null">
                stat = #{stat,jdbcType=TINYINT},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="pwd2 != null">
                pwd2 = #{pwd2,jdbcType=VARCHAR},
            </if>
        </set>
        where us_id = #{usId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.User">
    update m_user
    set name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      per_tit = #{perTit,jdbcType=VARCHAR},
      per_sign = #{perSign,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE},
      coun_id = #{counId,jdbcType=VARCHAR},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      u_time = #{uTime,jdbcType=TIMESTAMP},
      stat = #{stat,jdbcType=TINYINT},
      sex = #{sex,jdbcType=CHAR},
      salt = #{salt,jdbcType=VARCHAR},
      pwd2 = #{pwd2,jdbcType=VARCHAR}
    where us_id = #{usId,jdbcType=BIGINT}
  </update>
    <resultMap id="BaseResultMap" type="com.ssm.pojo.User">
        <id column="us_id" jdbcType="BIGINT" property="usId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
        <result column="per_tit" jdbcType="VARCHAR" property="perTit" />
        <result column="per_sign" jdbcType="VARCHAR" property="perSign" />
        <result column="birth" jdbcType="DATE" property="birth" />
        <result column="coun_id" jdbcType="VARCHAR" property="counId" />
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
        <result column="u_time" jdbcType="TIMESTAMP" property="uTime" />
        <result column="stat" jdbcType="TINYINT" property="stat" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="pwd2" jdbcType="VARCHAR" property="pwd2" />
    </resultMap>
    <sql id="Base_Column_List">
    us_id, name, email, phone, pwd, per_tit, per_sign, birth, coun_id, c_time, u_time,
    stat, sex, salt, pwd2
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from m_user
        where us_id = #{usId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from m_user
    where us_id = #{usId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ssm.pojo.User">
    insert into m_user (us_id, name, email,
      phone, pwd, per_tit,
      per_sign, birth, coun_id,
      c_time, u_time, stat,
      sex, salt, pwd2)
    values (#{usId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{perTit,jdbcType=VARCHAR},
      #{perSign,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, #{counId,jdbcType=VARCHAR},
      #{cTime,jdbcType=TIMESTAMP}, #{uTime,jdbcType=TIMESTAMP}, #{stat,jdbcType=TINYINT},
      #{sex,jdbcType=CHAR}, #{salt,jdbcType=VARCHAR}, #{pwd2,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ssm.pojo.User">
        insert into m_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="usId != null">
                us_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="perTit != null">
                per_tit,
            </if>
            <if test="perSign != null">
                per_sign,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="counId != null">
                coun_id,
            </if>
            <if test="cTime != null">
                c_time,
            </if>
            <if test="uTime != null">
                u_time,
            </if>
            <if test="stat != null">
                stat,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="pwd2 != null">
                pwd2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="usId != null">
                #{usId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="perTit != null">
                #{perTit,jdbcType=VARCHAR},
            </if>
            <if test="perSign != null">
                #{perSign,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                #{birth,jdbcType=DATE},
            </if>
            <if test="counId != null">
                #{counId,jdbcType=VARCHAR},
            </if>
            <if test="cTime != null">
                #{cTime,jdbcType=TIMESTAMP},
            </if>
            <if test="uTime != null">
                #{uTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stat != null">
                #{stat,jdbcType=TINYINT},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="pwd2 != null">
                #{pwd2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.User">
        update m_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="perTit != null">
                per_tit = #{perTit,jdbcType=VARCHAR},
            </if>
            <if test="perSign != null">
                per_sign = #{perSign,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                birth = #{birth,jdbcType=DATE},
            </if>
            <if test="counId != null">
                coun_id = #{counId,jdbcType=VARCHAR},
            </if>
            <if test="cTime != null">
                c_time = #{cTime,jdbcType=TIMESTAMP},
            </if>
            <if test="uTime != null">
                u_time = #{uTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stat != null">
                stat = #{stat,jdbcType=TINYINT},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="pwd2 != null">
                pwd2 = #{pwd2,jdbcType=VARCHAR},
            </if>
        </set>
        where us_id = #{usId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.User">
    update m_user
    set name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      per_tit = #{perTit,jdbcType=VARCHAR},
      per_sign = #{perSign,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE},
      coun_id = #{counId,jdbcType=VARCHAR},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      u_time = #{uTime,jdbcType=TIMESTAMP},
      stat = #{stat,jdbcType=TINYINT},
      sex = #{sex,jdbcType=CHAR},
      salt = #{salt,jdbcType=VARCHAR},
      pwd2 = #{pwd2,jdbcType=VARCHAR}
    where us_id = #{usId,jdbcType=BIGINT}
  </update>
</mapper>