<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aladin.dao.inter.m_shoppingMapper" >

  <resultMap id="BaseResultMap" type="com.aladin.pojo.m_shopping" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="o_id" property="oId" jdbcType="VARCHAR" />
    <result column="sh_name" property="shName" jdbcType="VARCHAR" />
    <result column="sh_dis" property="shDis" jdbcType="VARCHAR" />
    <result column="sh_price" property="shPrice" jdbcType="DECIMAL" />
    <result column="sh_number" property="shNumber" jdbcType="INTEGER" />
    <result column="sh_pic" property="shPic" jdbcType="VARCHAR" />
    <result column="sh_msg" property="shMsg" jdbcType="VARCHAR" />
    <result column="c_time" property="cTime" jdbcType="TIMESTAMP" />
    <result column="u_time" property="uTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sh_id" property="shId" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, o_id, sh_name, sh_dis, sh_price, sh_number, sh_pic, sh_msg, c_time, u_time, status, 
    sh_id
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_shopping
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_shopping
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.aladin.pojo.m_shopping" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 14 00:37:28 CST 2019.
    -->
    insert into m_shopping (id, o_id, sh_name, 
      sh_dis, sh_price, sh_number, 
      sh_pic, sh_msg, c_time, 
      u_time, status, sh_id
      )
    values (#{id,jdbcType=INTEGER}, #{oId,jdbcType=VARCHAR}, #{shName,jdbcType=VARCHAR}, 
      #{shDis,jdbcType=VARCHAR}, #{shPrice,jdbcType=DECIMAL}, #{shNumber,jdbcType=INTEGER},
      #{shPic,jdbcType=VARCHAR}, #{shMsg,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, 
      #{uTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{shId,jdbcType=VARCHAR}
      )
  </insert>



  <update id="updateByPrimaryKey" parameterType="com.aladin.pojo.m_shopping" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Feb 14 00:37:28 CST 2019.
    -->
    update m_shopping
    set o_id = #{oId,jdbcType=VARCHAR},
      sh_name = #{shName,jdbcType=VARCHAR},
      sh_dis = #{shDis,jdbcType=VARCHAR},
      sh_price = #{shPrice,jdbcType=DECIMAL},
      sh_number = #{shNumber,jdbcType=INTEGER},
      sh_pic = #{shPic,jdbcType=VARCHAR},
      sh_msg = #{shMsg,jdbcType=VARCHAR},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      u_time = #{uTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      sh_id = #{shId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>